* {
  font-family: helvetica;
}

.grid {
  display: grid;
  grid-template-rows: 1fr 2fr 2fr 2fr 2fr 2fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 5px;
  width: 100%;
  max-width: 1200px;
  min-width: 700px;
}

img {
  width: 200px;
  margin: auto;
}

header h1 {
  padding: 10px;
  text-align: center;
  margin: 0 auto;
  color: white;
  font-size: 70px;
}

header {
  grid-row-start: 1;
  grid-row-end: span 1;
  grid-column-start: 1;
  grid-column-end: span 6;
  background-color: #88abc8;
  display: flex;
  align-items: center;
}

.intro {
  grid-row-start: 2;
  grid-row-end: span 1;
  grid-column-start: 1;
  grid-column-end: span 6;
  background-color: grey;
  color: white;
}

.intro h2,
.intro p {
  margin: 20px;
}

.kale {
  grid-row-start: 3;
  grid-row-end: span 1;
  grid-column-start: 1;
  grid-column-end: span 2;
  background-color: black;
  color: white;
}

.kale h2,
.kale p {
  margin: 20px;
}

.kale-img {
  grid-row-start: 3;
  grid-row-end: span 1;
  grid-column-start: 3;
  grid-column-end: span 4;
  background-image: url(Images/kale.jpg);
}

.blueberries-img {
  grid-row-start: 4;
  grid-row-end: span 1;
  grid-column-start: 1;
  grid-column-end: span 4;
  background-image: url(Images/blueberries.jpg);
}

.blueberries {
  grid-row-start: 4;
  grid-row-end: span 1;
  grid-column-start: 5;
  grid-column-end: span 2;
  background-color: black;
  color: white;
}

.blueberries h2,
.blueberries p {
  margin: 20px;
}

.almonds {
  grid-row-start: 5;
  grid-row-end: span 1;
  grid-column-start: 1;
  grid-column-end: span 2;
  background-color: black;
  color: white;
}

.almonds h2,
.almonds p {
  margin: 20px;
}

.almonds-img {
  grid-row-start: 5;
  grid-row-end: span 1;
  grid-column-start: 3;
  grid-column-end: span 4;
  background-image: url(Images/almonds.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.remember {
  grid-row-start: 6;
  grid-row-end: span 1;
  grid-column-start: 1;
  grid-column-end: span 3;
  background-color: lightyellow;
  border: 3px solid red;
  display: flex;
  flex-direction: column;
}

.remember p {
  margin: 20px;
  color: red;
  font-weight: bold;
  text-align: center;
}

.remember h1 {
  color: red;
  text-align: center;
}

.remember img {
  height: 100px;
  width: auto;
}

.learn-more {
  grid-row-start: 6;
  grid-row-end: span 1;
  grid-column-start: 4;
  grid-column-end: span 3;
  background-color: grey;
  color: white;
}

.learn-more h2,
.learn-more p {
  margin: 20px;
}

footer {
  grid-row-start: 7;
  grid-row-end: span 1;
  grid-column-start: 1;
  grid-column-end: span 6;
  background-color: #88abc8;
  display: flex;
  align-items: flex-end;
}

footer p {
  margin: 20px;
}
